/**
 * Span Helper
 * =====================================================================
 * What dos this do?
 * - This is to vertical align a image into a div, just place a span
 * extending this style into a div and make image vertical align and
 * display block too. Take care of style the div with font-size: 0;
*/

%span-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
